[submodule "Pytorch"]
	path = Pytorch
	url = ../Pytorch-Learn.git
[submodule "Tensorflow"]
	path = Tensorflow
	url = ../Tensorflow-Learn.git
[submodule "Sklearn"]
	path = Sklearn
	url = ../Sklearn-Learn.git
